GEMINI_API_KEY=/* Token Value */
GEMINI_MODEL=gemini-2.5-flash

# POSTGRES CONNECTION
# Format: postgres://user:password@host:port/database_name
DATABASE_URL=postgres://admin:password123@localhost:5440/airlock_db